.header {
  text-align: center;
}

.info {
  text-align: center;
}

.main {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.game-controls {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

path, circle {
  transition: all 0.5s ease;
}
